@import "../styles/breakPoint.scss";
.Home {
  display: block;

 
  &-info {
    display: block;
    padding: 5px;
    font-size: 1.1rem;
    text-align: center;
    color: darkslategrey;
  }
  &-content {
    @include lg {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      align-items: start;
    }
    &__pending {
      width: 100%;
    }
    &__complete {
      width: 100%;
    }
    &__hr{
      margin: 0.5rem 0;
    }

    
  }
  
}
