@import "../../../styles/breakPoint.scss";
.logIn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
  letter-spacing: 0.07rem;
  &-title {
    &__content {
      font-size: 1.5rem;
      color: black;
      font-weight: 700;
    }
  }
  &-form {
    width: 90%;
    padding: 10px;
    @include md {
      width: 60%;
    }
    @include lg {
      width: 35%;
    }
    &__content {
      padding: 10px 0;
      label {
        display: block;
        font-size: 1rem;
        padding: 5px 0;
        font-weight: 600;
        color: rgb(65, 65, 65);
      }
      input {
        width: 100%;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        outline: none;
        border: 1px solid darkgrey;
        border-radius: 0.375rem;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
        outline: 2px solid transparent;
        &:focus {
          outline: 2px solid rgb(79 70 229);
          border: 1px solid transparent;
        }
        &::placeholder {
          color: lightgray;
        }
      }
      .forgotPassword {
        display: block;
        text-decoration: none;
        color: rgb(79 70 229);
        font-weight: 600;
        text-align: right;
        padding: 10px;
      }
    }
    &__btn {
      width: 100%;
      margin-top: 10px;
      font-size: 16px;
      font-weight: 600;
      padding: 10px;
      color: white;
      background: rgb(79 70 229);
      outline: none;
      border: none;
      border-radius: 0.375rem;
      cursor: pointer;
      box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
      transition: 0.3s ease-in-out;
      &:hover {
        background: rgb(52, 49, 119);
      }
    }
  }
  &-member {
    font-size: 1rem;
    padding: 5px;
    &__link {
      color: rgb(71, 71, 71);
      .link {
        font-weight: 600;
        text-decoration: none;
        color: rgb(79 70 229);
        transition: 0.3s ease-in-out;
        &:hover {
          color: rgb(52, 49, 119);
        }
      }
    }
  }
}
